<p id="notice"><%= notice %></p>

<h1>Woofs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @woofs.each do |woof| %>
      <tr>
        <td><%= woof.name %></td>
        <td><%= woof.content %></td>
        <td><%= link_to 'Show', woof %></td>
        <td><%= link_to 'Edit', edit_woof_path(woof) %></td>
        <td><%= link_to 'Destroy', woof, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Woof', new_woof_path %>
